body{
   background-image: url("../images/stardestroyerbackground.jpg");
    color:white;
    position: absolute;
    width:100%;
    text-shadow: 1px 1px #000000;
}
#container{
    margin: 25px;
    
}
#yourcharacter .hero, #enemiesavailable .enemies, #defender .villain, #defeated .dead, #heroes{
    text-shadow: none;
}
#heroes{
    float: left;
    /* display: table; */
    display: flex;
    position: static;
    width: 100%;
    /* margin: 15px; */
    height: 100%;
    line-height: 2em;
}
.h6{
    position: relative;
}
#yourcharacter{
    font-family: 'Cabin', sans-serif;
    position: relative;
    margin: 15px;
    height: 150px;
    width: 155px;
    
   
}
.row #yourcharacter{
    display:none;
}

#yourcharacter .hero{
    background-color: green;
    border: solid;
    border-width: 3px;
    border-color: white;
}
#enemiesavailable{
    font-family: 'Lobster', cursive;
    position: static;
    margin: 15px;
    /* float: right; */
}

#defender{
    
    position: relative;
    margin: 15px;
    width: 155px;
}
#defender .villain{
    background-color: red;
    border: solid;
    border-width: 3px;
    border-color: black;
}
#fightsection{
    font-family: 'Exo', sans-serif;
    position: relative;
    margin: 15px;
}
#attack{
    margin: 15px;
}
#gameinfo{
    font-family: 'Cabin', sans-serif;
    position: static;
    margin: 15px;
    white-space: pre-wrap;
}
#defeated .dead{
    color: black;
    margin: 5px;
    padding: 5px 15px 5px 15px;
}

#character-container{
    color: black;
    text-align: center;
    background-color: white;
    padding: 5px 15px 5px 15px;
    /* display: table-cell; */
    /* margin: 5px; */
}

.playableCharacter{
    color: black;
    text-align: center;
    background-color: white;
    padding: 5px 15px 5px 15px;
    /* display: table-cell; */
    margin: 5px;
}
.enemies{
    margin: 15px;
    position: relative;
    /* border: solid;
    border-width: 3px;
    border-color: black; */
}
